.side-bar-container {
    position: relative;
    padding: 0 1rem;
    font-family: inherit;
    transition: .5s;
}

a {
    text-decoration: none;
}

.l-navbar {
    position: fixed;
    top: 0;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: 1;
    margin-top: 5rem;
    height: 92%;
    background: #000000;
    color: #fff;
    width: 13%;
    border-radius: 0 0.4rem 0.4rem 0;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .nav-user-item {
        padding-left: 2rem;
        padding-bottom: 2rem;
    }
}

.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:not(.active):hover {
    background: white;
    color: #FF6767;
}

.active {
    background: white;
    color: #FF6767;
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

@media screen and (min-width: 768px) {
    .side-bar-container {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}