.form-container {
    .input-container {
        padding: 1rem;
        padding-left: 4rem;
        border: solid 1px #A1A3AB;

        .add-task-field {
            margin-bottom: 1rem;

            .add-task-input:not(textarea) {
                border: solid 1px #A1A3AB;
                border-radius: 0.2rem;
                width: 60%;
                padding: 0.5rem 1rem;
            }

            textarea {
                border: solid 1px #A1A3AB;
                border-radius: 0.2rem;
                padding: 0.5rem 1rem;
                min-height: 20vh;
                width: 92%;
            }

            .input-errors {
                padding-left: 1rem;
                padding-top: 0.5rem;
            }
        }
    }

    .btn-done {
        background-color: #F24E1E;
        color: #fff;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem 1.5rem;

        &:hover {
            background-color: #7c7472;
        }
    }
}