<div class="form-container">
    <form [formGroup]="taskForm!" class="add-task-form" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <div class="add-task-field">
                <h6 for="title">Title:</h6>
                <input formControlName="title" type="text" placeholder="Enter Title" class="add-task-input">
            </div>
            <div class="add-task-field">
                <h6 for="expiredAt">Expired Date</h6>
                <input formControlName="expiredAt" type="datetime-local" placeholder="Enter date"
                    class="add-task-input">
            </div>
            <div class="add-task-field">
                <h6 for="priority">Priority</h6>
                <div *ngFor="let prio of priorities" class="d-inline-block pe-5">
                    <div class="form-check">
                        <input formControlName="priority" class="form-check-input" type="radio" name="priority"
                            value="{{prio.key}}" id="priority-{{prio.key}}">
                        <label class="form-check-label" for="priority-{{prio.key}}">
                            {{prio.value}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="add-task-field">
                <h6 for="description">Task Description</h6>
                <textarea formControlName="description" type="textarea" placeholder="Enter description"
                    class="add-task-input"></textarea>
            </div>
        </div>
        <input type="hidden" formControlName="id">
        <button type="submit" class="btn btn-done">
            Done
        </button>
    </form>
</div>