<div *ngIf="isLoading()">
    <app-loader></app-loader>
</div>
<div class="change-password-container">
    <div class="change-password-header row">
        <div class="col-10 header-title">
            <h3><span>Change P</span>assword</h3>
        </div>
        <div class="col-2 header-action">
            <a routerLink="/account" type="button" class="btn">Go back</a>
        </div>
    </div>
    <form class="form-container" [formGroup]="changePasswordForm!" (ngSubmit)="changePassword()">
        <div class="password-infor">
            <h6 for="oldPassword" class="form-label">Current Password</h6>
            <input type="password" formControlName="oldPassword" placeholder="Enter your current password"
                class="form-control">
            <div>
                <div *ngIf="isSubmitted() || oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)"
                    class="text-danger change-password-errors">
                    <div *ngIf="oldPassword?.errors?.['required']">Current password is required.</div>
                    <div *ngIf="oldPassword?.errors?.['serverError']">{{ oldPassServerErrMsg() }}</div>
                    <div *ngIf="oldPassword?.errors?.['minlength'] || oldPassword?.errors?.['maxlength']">
                        Current password length must between 6 - 50.
                    </div>
                </div>
            </div>
        </div>
        <div class="password-infor">
            <h6 for="newPassword" class="form-label">New Password</h6>
            <input type="password" formControlName="newPassword" placeholder="Enter new password"
                class="form-control">
            <div>
                <div *ngIf="isSubmitted() || newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)"
                    class="text-danger change-password-errors">
                    <div *ngIf="newPassword?.errors?.['required']">New password is required.</div>
                    <div *ngIf="newPassword?.errors?.['serverError']">{{ newPassServerErrMsg() }}</div>
                    <div *ngIf="newPassword?.errors?.['minlength'] || newPassword?.errors?.['maxlength']">
                        New password length must between 6 - 50.
                    </div>
                </div>
            </div>
        </div>
        <div class="password-infor">
            <h6 for="confirmPassword" class="form-label">Confirm Password</h6>
            <input type="password" formControlName="confirmPassword" placeholder="Enter confirm password"
                class="form-control">
            <div>
                <div *ngIf="isSubmitted() || confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)"
                    class="text-danger change-password-errors">
                    <div *ngIf="confirmPassword?.errors?.['required']">Confirm password is required.</div>
                    <div *ngIf="confirmPassword?.errors?.['passwordsNotMatched']">Confirm password and new password does not matched.</div>
                </div>
            </div>
        </div>
        <div class="action-btn">
            <div>
                <button type="submit" class="btn">Update Password</button>
                <a routerLink="/account" type="button" class="btn">Cancel</a>
            </div>
        </div>
    </form>
</div>