<div *ngIf="isLoading()">
    <app-loader></app-loader>
</div>
<div class="task-container row">
    <div class="task-list-container col-6">
        <div class="add-section row">
            <div class="add-section-title col-md-8">
                <h4 class="d-inline-block">
                    <span>To-Do</span>
                </h4>
                <app-filter-dropdown class="d-inline-block" (selectedPrio)="handleFilterPriorities($event)"
                    (selectedCreatedRange)="handleFilterCreatedDate($event)"
                    (selectedExpiredRange)="handleFilterExpiredDate($event)"></app-filter-dropdown>
            </div>
            <div class="add-section-btn col-md-4 text-end">
                <button type="button" class="btn btn-add-task" (click)="openFormModal()">
                    <span><i class="fa-solid fa-plus"></i></span>
                    Add Task
                </button>
                <!-- <button type="button" class="btn btn-add-task" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#add-modal'" (click)="toggleAddPopUp(true)">
                    <span><i class="fa-solid fa-plus"></i></span>
                    Add Task
                </button>
                <div class="modal fade text-start" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true" #addModal>
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel"><span>Add New Ta</span>sk</h1>
                                <button id="btn-close-add-modal" type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <app-task-forms (formCreateSubmit)="addTask($event)"
                                    [isAddPopupForm]="isAddModalPopup()" [isUpdate]="false"></app-task-forms>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- Task list -->
        <div>
            <!-- Nav tabs -->
            <mat-tab-group (selectedTabChange)="handleTabChange($event)">
                <mat-tab [label]="'Pending (' + 
                (pendingTasks() | filterTasksPipe : searchText() :
                selectedPrios() :
                selectedCreatedDateRange() : selectedExpiredDateRange()).length + ')'">
                    <!-- Loading indicator -->
                    <div *ngIf="isLoading()" class="loading task-notfound-section">
                        <p>Loading tasks...</p>
                    </div>

                    <div *ngIf="!isLoading() && pendingTasks().length > 0">
                        <div cdkDropList [cdkDropListData]="pendingTasks()" (cdkDropListDropped)="dropHandle($event)"
                            class="task-list">
                            @for (task of pendingTasks() | filterTasksPipe : searchText() : selectedPrios() :
                            selectedCreatedDateRange() : selectedExpiredDateRange(); track task)
                            {
                            <app-task-items cdkDrag [cdkDragData]="task" [task]="task" [tasks]="pendingTasks()"
                                [completeTasks]="completedTasks()" (selectedId)="selectTask($event)"
                                [isSelected]="task.id === selectedId()"
                                class="task-items"></app-task-items>
                            }
                        </div>
                    </div>

                    <!-- No tasks message -->
                    <div *ngIf="!isLoading() && (pendingTasks() | filterTasksPipe : searchText() : selectedPrios() :
                    selectedCreatedDateRange() : selectedExpiredDateRange()).length === 0"
                        class="task-notfound-section">
                        <p>No tasks found.</p>
                    </div>
                </mat-tab>
                <mat-tab [label]="'Completed (' + 
                (completedTasks() | filterTasksPipe : searchText()
                : selectedPrios() :
                selectedCreatedDateRange() : selectedExpiredDateRange()).length + ')'"> <!-- Loading indicator -->
                    <div *ngIf="isLoading()" class="loading task-notfound-section">
                        <p>Loading tasks...</p>
                    </div>

                    <div *ngIf="!isLoading() && completedTasks().length > 0">
                        <div cdkDropList [cdkDropListData]="completedTasks()" (cdkDropListDropped)="dropHandle($event)"
                            class="task-list">
                            @for (task of completedTasks() | filterTasksPipe : searchText() : selectedPrios() :
                            selectedCreatedDateRange() : selectedExpiredDateRange(); track task; let i = $index) {
                            <app-task-items cdkDrag [cdkDragData]="task" [task]="task" [tasks]="completedTasks()"
                                [pendingTasks]="pendingTasks()" (selectedId)="selectTask($event)"
                                [isSelected]="task.id === selectedId()"
                                class="task-items"></app-task-items>
                            }
                        </div>
                    </div>

                    <!-- No tasks message -->
                    <div *ngIf="!isLoading() && (completedTasks() | filterTasksPipe : searchText() : selectedPrios() : 
                            selectedCreatedDateRange() : selectedExpiredDateRange()).length === 0"
                        class="task-notfound-section">
                        <p>No tasks found.</p>
                    </div>
                </mat-tab>
            </mat-tab-group>

            <!-- Custom nav bar -->
            <!-- <div class="nav nav-tabs w-100 mb-2 mt-2" role="tablist">
                <div class="nav-item w-50 text-center">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home"
                        aria-selected="true" #home>Pending
                        ({{ (pendingTasks() | filterTasksPipe : searchText() :
                        selectedPrios() :
                        selectedCreatedDateRange() : selectedExpiredDateRange()).length }})</a>
                </div>
                <div class="nav-item w-50 text-center">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile"
                        aria-selected="false" #profile>Completed
                        ({{ (completedTasks() | filterTasksPipe : searchText()
                        : selectedPrios() :
                        selectedCreatedDateRange() : selectedExpiredDateRange()).length }})</a>
                </div>
            </div> -->

            <!-- Tab panes -->
            <!-- <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                </div>
            </div> -->
        </div>
    </div>
    <div class="task-detail-section col-5 card">
        <app-task-detail [task$]="selectedTask$" [pendingTasks]="pendingTasks()" [completedTasks]="completedTasks()"></app-task-detail>
    </div>
</div>