<div *ngIf="isLoading()">
    <app-loader></app-loader>
</div>
<app-headers></app-headers>
<div class="row w-100">
    <div class="side-bar col-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="account-container col-10">
        <div class="account-header row">
            <div class="col-10 header-title">
                <h3><span>Account Infor</span>mation</h3>
            </div>
            <div class="col-2 header-action">
                <a routerLink="/" type="button" class="btn">Go back</a>
            </div>
        </div>
        <form class="form-container" [formGroup]="accountInforForm!" (ngSubmit)="updateAccount()">
            <input type="hidden" formControlName="id">
            <div class="account-infor">
                <h6 for="firstName" class="form-label">First Name</h6>
                <input type="text" formControlName="firstName" placeholder="First name" class="form-control"
                    [readOnly]="!isUpdate()">
                <div>
                    <div *ngIf="isSubmitted || firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                        class="text-danger account-infor-errors">
                        <div *ngIf="firstName?.errors?.['required']">First name is required.</div>
                        <div *ngIf="firstName?.errors?.['minlength'] || firstName?.errors?.['maxlength']">
                            First name length must between 1 - 250.
                        </div>
                    </div>
                </div>
            </div>
            <div class="account-infor">
                <h6 for="lastName" class="form-label">Last Name</h6>
                <input type="text" formControlName="lastName" placeholder="Last name" class="form-control"
                    [readOnly]="!isUpdate()">
                <div>
                    <div *ngIf="isSubmitted || lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                        class="text-danger account-infor-errors">
                        <div *ngIf="lastName?.errors?.['required']">Last name is required.</div>
                        <div *ngIf="lastName?.errors?.['minlength'] || lastName?.errors?.['maxlength']">
                            Last name length must between 1 - 100.
                        </div>
                    </div>
                </div>
            </div>
            <div class="account-infor">
                <h6 for="email" class="form-label">Email address</h6>
                <input type="text" formControlName="email" placeholder="Email address" class="form-control"
                    readonly="true">
                <div></div>
            </div>
            <div class="account-infor">
                <h6 for="phone" class="form-label">Contact number</h6>
                <input type="text" formControlName="phone" placeholder="Contact number" class="form-control"
                    [readOnly]="!isUpdate()">
                <div>
                    <div *ngIf="isSubmitted || phone?.invalid && (phone?.dirty || phone?.touched)"
                        class="text-danger account-infor-errors">
                        <div *ngIf="phone?.errors?.['pattern']">Invalid phone format.</div>
                    </div>
                </div>
            </div>
            <div class="action-btn">
                <div *ngIf="isUpdate();else elseBlock">
                    <button type="submit" class="btn">Save change</button>
                    <button type="button" class="btn" (click)="toggleUpdate(false)">Cancel</button>
                </div>
                <ng-template #elseBlock>
                    <button type="button" class="btn" (click)="toggleUpdate(true)">Update infor</button>
                    <button type="button" class="btn">Change password</button>
                </ng-template>
            </div>
        </form>
    </div>
</div>