<div *ngIf="task;else elseBlock">
    <div class="task-detail-container">
        <div class="task-detail-header row">
            <div class="header-image-section col-4 text-center">
                <img [src]="task.imageUrl" alt="Task Image">
            </div>
            <div class="header-title-section col-8">
                <h4 class="task-title">{{ task.title }}</h4>
                <p class="task-priority">Priority: <span class="priority-value" [attr.color-code]="task.priority">{{
                        task.priority }}</span></p>
                <p class="task-status">Status: <span class="status-value" appStatusColorDirective [status]="task.status">{{
                        task.status }}</span></p>
                <p class="task-date">Created on: {{ dateStr }} </p>
                <p class="task-date">Expired on: {{ expiredDateStr }} </p>

            </div>
        </div>
        <div class="task-description">
            {{ task.description }}
        </div>
        <div class="task-action-btn card-footer">
            <button class="btn btn-edit" type="button" matTooltip="Edit Task" (click)="openFormModal()">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-remove" type="button" aria-label="''" data-bs-toggle="modal" matTooltip="Remove Task"
                [attr.data-bs-target]="'#remove-modal-' + task.id">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="no-infor-section">
        <h5>No information.</h5>
    </div>
</ng-template>