.task-detail-container {
    position: relative;
    font-family: 'Inter';

    .task-detail-header {
        .header-image-section {
            img {
                width: 100% ;
                border-radius: 14px;
            }
        }
    }

    .task-title {
        padding-bottom: 1rem;
    }

    .priority-value[color-code='Low'] {
        color: #05A301;
    }

    .priority-value[color-code='Medium'] {
        color: #42ADE2;
    }

    .priority-value[color-code='High'] {
        color: #F21E1E;
    }

    .task-date {
        color: #A1A3AB;
    }

    .task-description {
        color: #747474;
        padding-top: 1rem;
        padding-right: 1rem;
        height: 29vi;
        overflow-y: auto;
        line-height: 200%;
    }

    .task-action-btn {
        display: flex;
        justify-content: end;
        align-items: end;
        padding-right: 2rem;
        transition: background-color 0.3s ease;
        background: none;

        .btn {
            background: #FF6767;
            color: #fff;

            &:hover {
                background: #c94a4a;
            }
        }

        .btn-edit {
            margin-right: 0.5rem;
        }
    }
}

.no-infor-section {
    text-align: center;
    padding-top: 18rem;
    color: gray;
    font-family: 'Inter';
}