.task-detail-container {
    .task-title {
        padding-bottom: 1rem;
    }

    .priority-value[color-code='Low'] {
        color: #05A301;
    }

    .priority-value[color-code='Medium'] {
        color: #42ADE2;
    }

    .priority-value[color-code='High'] {
        color: #F21E1E;
    }

    .task-date {
        color: #A1A3AB;
    }

    .task-description {
        color: #747474;
        padding-top: 1rem;
        padding-right: 1rem;
    }

    .task-action-btn {
        position: absolute;
        right: 6.7rem;
        bottom: 3rem;

        .btn {
            background: #FF6767;
            color: #fff;

            &:hover {
                background: #c94a4a;
            }
        }

        .btn-edit {
            margin-right: 0.5rem;
        }
    }
}