<div class="task-items-container">
    <div class="dots-options">
        <div class="dropdown ms-auto">
            <div data-bs-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i>
            </div>
            <ul class="dropdown-menu">
                <li>
                    <span class="dropdown-item" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#update-modal-' + task().id">
                        <i class="fas fa-pen mx-2"></i> Edit
                    </span>
                </li>
                <li>
                    <span class="dropdown-item" data-bs-toggle="modal"
                        [attr.data-bs-target]="'#remove-modal-' + task().id">
                        <i class="fas fa-trash mx-2"></i> Delete
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="edit-section-popup">
        <div class="modal fade" id="update-modal-{{ task().id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <app-task-forms [task]="task()" [isUpdate]="true"
                            (formUpdateSubmit)="updateTask($event)"></app-task-forms>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="remove-section-popup">
        <div class="modal fade" id="remove-modal-{{ task().id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you confirm to delete {{ task().title }} task?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="removeTask(task().id)">Confirm</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="item-title">{{ task().title }}</h4>
    <p class="item-description pt-1">{{ task().description }}</p>
    <div class="enum-sections row">
        <p class="col-md-4">Priority: {{ task().priority }}</p>
        <p class="col-md-3">Status: {{ task().status }}</p>
        <div class="col-md-5 text-center">
            <p class="">Created on: {{ dateStr }}</p>
        </div>
    </div>
</div>