<div class="task-items-container row" (click)="onClickDetail()" appStatusColorDirective [status]="task().status">
    <div class="status-section col-1">
        @if (task().isCompleted) {
        <i class="fa-regular fa-circle-check" appStatusColorDirective [status]="task().status"
            (click)="changeTaskStatus(task().id, task().isCompleted)"></i>
        }
        @if (!task().isCompleted) {
        <i class="fa-regular fa-circle" appStatusColorDirective [status]="task().status"
            (click)="changeTaskStatus(task().id, task().isCompleted)"></i>
        }
    </div>
    <div class="detail-section col-11">
        <div class="dots-options">
            <div class="dropdown ms-auto">
                <div data-bs-toggle="dropdown">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <ul class="dropdown-menu">
                    <li>
                        <span class="dropdown-item" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#update-modal-' + task().id">
                            <i class="fas fa-pen mx-2"></i>
                            <span class="dropdown-item-text">Edit</span>
                        </span>
                    </li>
                    <li>
                        <span class="dropdown-item" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#remove-modal-' + task().id">
                            <i class="fas fa-trash mx-2"></i>
                            <span class="dropdown-item-text">Delete</span>
                        </span>
                    </li>
                    <li>
                        <span class="dropdown-item" (click)="changeTaskStatus(task().id, task().isCompleted)">
                            <span *ngIf="task().isCompleted; else elseBlock">
                                <i class="fa-regular fa-circle-xmark mx-2"></i>
                            </span>
                            <ng-template #elseBlock>
                                <i class="fa-regular fa-circle-check mx-2"></i>
                            </ng-template>
                            <span class="dropdown-item-text">{{ task().isCompleted ? 'Undone' : 'Complete' }}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="edit-section-popup">
            <div class="modal fade" id="update-modal-{{ task().id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Task</h1>
                            <button id="btn-update-modal-close-{{ task().id }}" type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <app-task-forms [task]="task()" [isUpdate]="true"
                                (formUpdateSubmit)="updateTask($event)"></app-task-forms>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="remove-section-popup">
            <div class="modal fade" id="remove-modal-{{ task().id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Task</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want to delete {{ task().title }} task?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-done" (click)="removeTask(task().id)">Confirm</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                aria-label="Close">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="item-title">{{ task().title }}</h4>
        <p class="item-description pt-1">{{ (task().description.length > 200) ? task().description.slice(0, 197) + '...' : task().description }}</p>
        <div class="enum-sections row">
            <p class="col-md-4">
                Priority:
                <span class="priority-value" id="prio-{{task().id}}" [attr.color-code]="task().priority">{{
                    task().priority
                    }}</span>
            </p>
            <p class="col-md-3">
                Status:
                <span class="status-value" appStatusColorDirective [status]="task().status">{{ task().status }}</span>
            </p>
            <div class="col-md-5 text-center">
                <p class="created-date">Created on: {{ dateStr }}</p>
            </div>
        </div>
    </div>
</div>