<div *ngIf="isLoading()">
    <app-loader></app-loader>
</div>
<div class="task-items-container" (click)="onClickDetail()" appStatusColorDirective [status]="task().status" [class.active]="isSelected()">
    <div class="status-section" (click)="$event.stopPropagation()">
        @if (task().isCompleted) {
        <i class="fa-regular fa-circle-check" matTooltip="Undone Task" appStatusColorDirective [status]="task().status"
            (click)="changeTaskStatus(task().id, task().isCompleted)"></i>
        }
        @if (!task().isCompleted) {
        <i class="fa-regular fa-circle" matTooltip="Complete Task" appStatusColorDirective [status]="task().status"
            (click)="changeTaskStatus(task().id, task().isCompleted)"></i>
        }
    </div>
    <div class="detail-section">
        <div class="dots-options">
            <div class="dropdown ms-auto">
                <div data-bs-toggle="dropdown" (click)="$event.stopPropagation()">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
                <ul class="dropdown-menu" (click)="$event.stopPropagation()">
                    <li>
                        <span class="dropdown-item" (click)="openFormModal()">
                            <i class="fas fa-pen mx-2"></i>
                            <span class="dropdown-item-text">Edit</span>
                        </span>
                    </li>
                    <li>
                        <span class="dropdown-item" (click)="openDeleteConfirmModal()">
                            <i class="fas fa-trash mx-2"></i>
                            <span class="dropdown-item-text">Delete</span>
                        </span>
                    </li>
                    <li>
                        <span class="dropdown-item" (click)="changeTaskStatus(task().id, task().isCompleted)">
                            <span *ngIf="task().isCompleted; else elseBlock">
                                <i class="fa-regular fa-circle-xmark mx-2"></i>
                            </span>
                            <ng-template #elseBlock>
                                <i class="fa-regular fa-circle-check mx-2"></i>
                            </ng-template>
                            <span class="dropdown-item-text">{{ task().isCompleted ? 'Undone' : 'Complete' }}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="edit-section-popup" (mousedown)="$event.stopPropagation()">
            <div class="modal fade" id="update-modal-{{ task().id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"><span>Edit Ta</span>sk</h1>
                            <button id="btn-update-modal-close-{{ task().id }}" type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <app-task-forms [task]="task()" [isUpdate]="true"
                                (formUpdateSubmit)="updateTask($event)"></app-task-forms>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="remove-section-popup" (mousedown)="$event.stopPropagation()">
            <div class="modal fade" id="remove-modal-{{ task().id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Task</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want to delete {{ task().title }} task?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-done" (click)="removeTask(task().id)">Confirm</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                aria-label="Close">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <h4 class="item-title">{{ (task().title.length > 40) ? task().title.slice(0,
                37) + '...' : task().title }}</h4>
        <div class="row task-content">
            <p class="item-description pt-1 col-9">{{ (task().description.length > 150) ? task().description.slice(0,
                147) + '...' : task().description }}</p>
            <div class="col-3 image-section">
                <img [src]="task().imageUrl" alt="Task Image">
            </div>
        </div>
        <div class="enum-sections">
            <p class="priority-section">
                Priority:
                <span class="priority-value" id="prio-{{task().id}}" [attr.color-code]="task().priority">
                    {{task().priority}}
                </span>
            </p>
            <p class="status-section">
                Status:
                <span class="status-value" appStatusColorDirective [status]="task().status">{{ task().status | camelToSpace}}</span>
            </p>
            <div class="created-date-section text-center">
                <p class="created-date">Created on: {{ dateStr }}</p>
            </div>
        </div>
    </div>
</div>