<div class="header-container">
    <div class="row">
        <h3 class="col-2 ps-5"><span class="header-span-to">To</span>-Do</h3>
        <div class="col-8 search-section">
            <div class="input-group mb-3 w-50 m-auto">
                <input type="text" class="form-control search-box-input" placeholder="Search your task here..."
                    aria-label="Search task" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary search-btn" type="button" title="''">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-2 current-date-section text-center">
            <p>Tuesday <br> <span class="date-section-span">23/01/2025</span></p>
        </div>
    </div>
</div>